
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h3>Listing for Demo</h3>

<f:flashMessages />

<table  class="tx_monextension" >
	<tr>
		<th><f:translate key="tx_monextension_domain_model_demo.title" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{demos}" as="demo">
		<tr>
			<td><f:link.action action="show" arguments="{demo : demo}"> {demo.title}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{demo : demo}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{demo : demo}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Demo</f:link.action>
</f:section>