
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h4>Listing for Auteur</h4>

<f:flashMessages />

<table  class="tx_monextension" >
	<tr>
		<th><f:translate key="tx_monextension_domain_model_auteur.author" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{auteurs}" as="auteur">
		<tr>
			<td><f:link.action action="show" arguments="{auteur : auteur}"> {auteur.author}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{auteur : auteur}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{auteur : auteur}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Auteur</f:link.action>
</f:section>